{% extends "base.html" %} {% block title %}Sign Up Page{% endblock %} {% block
page_content %}
<div class="formContain">
  <h2>Sign Up</h2>
  <form action="" method="post">
    {{ form.csrf_token }}
    <p>
      {{form.email.label}} <br />
      {{form.email(size=50)}}
    </p>
    <ul>
      {%for error in form.email.errors%}
      <li style="color: red">{{error}}</li>
      {%endfor%}
    </ul>
    <p>
      {{form.username.label}} <br />
      {{form.username(size=50)}}
    </p>

    <ul>
      {%for error in form.username.errors%}
      <li style="color: red">{{error}}</li>
      {%endfor%}
    </ul>

    <p>
      {{form.password.label}} <br />
      {{form.password(size=50)}}
    </p>

    <p>
      {{form.confirmPassword.label}} <br />
      {{form.confirmPassword(size=50)}}
    </p>
    <ul>
      {%for error in form.password.errors%}
      <li style="color: red">{{error}}</li>
      {%endfor%}
    </ul>
    <p>{{form.isSubscribe}} {{form.isSubscribe.label}}</p>
    <ul>
      {%for error in form.isSubscribe.errors%}
      <li style="color: red">{{error}}</li>
      {%endfor%}
    </ul>
    <p class="submitButton">{{form.submit()}}</p>
  </form>
</div>

{% endblock %}
